/* Font Weights */

$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

/* Font Sizes */
$f-xmini:toRem(10);
$f-mini:toRem(12);
$f-xs:toRem(14);
$f-sm:toRem(15);
$f-md:toRem(20);
$f-lg:toRem(22);
 