<div class="message">
    <div class="message__card">
        <perfect-scrollbar class="scroll"> 
            <card *ngFor="let item of data"
                [name]="item.name"
                [avatar]="item.avatar"
                [lastMessage]="item.last_message"
                [timeStamp]="item.time_stamp"
                (click)="loadChat(item.id)"
                [notificationNumber]="item.notification_number">
            </card>
        </perfect-scrollbar>
    </div>
    <div class="message__view ">
        <div *ngIf="holdCurrentView" class="message__content-view">
            <div class="message__info" *ngFor="let item of holdCurrentView">
                <div class="contact__name">{{item.user.name}}</div>
                <perfect-scrollbar class="scroll__content"> 
                <div class="messages__data" *ngFor="let messageItem of item.message">
                    <div class="my__message">
                        <div class="img">
                            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-1/c0.5.160.160/p160x160/22141029_10155556521696183_3480256448420888562_n.jpg?_nc_cat=0&oh=33ebb0c2e01edaa17a51cd40d993af18&oe=5B9A1701"
                                alt="">
                        </div>
                        <div class="my__message__text" >
                            {{messageItem.my_message}}
                        </div>
                    </div>
                    <div class="other__message">
                        <div class="img">
                            <img [src]="item.user.avatar" alt="item.user.name">
                        </div>
                        <div class="other__message__text" >
                            {{messageItem.other}}
                        </div>
                    </div>
                </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>